@model HesaUser.Models.Users
<h3>User details lookup</h3>
<p>
    @using (Html.BeginForm("Users", "Lookup", FormMethod.Post))
    {
        @Html.ValidationSummary(false)
        <text>Search:&nbsp;</text><input maxlength="15" type="text" value="" name="filter" />
        <button type="submit">Search</button>
    }
</p>
@if (Model.UserList.Count == 0)
{
    <p>Enter an entire Surname or part of a Surname and press the Search button to see any matching details.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th style="width:100px;">Name</th>
                <th style="width:100px;">Surname</th>
                <th style="width:100px;">Started</th>
                <th style="width:100px;">Left</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.UserList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => user.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(x => user.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(x => user.Started)
                    </td>
                    <td>
                        @{
                            var left = user.Left == DateTime.MinValue ? string.Empty : user.Left.Value.ToString("dd MMM yyyy");
                        }
                        @left
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
